.info {
  @apply flex items-start gap-3 rounded-xl border p-4 text-sm;
}

.alignLeft {
  @apply justify-start text-left;
}

.alignCenter {
  @apply justify-center text-center;
}

.alignRight {
  @apply justify-end text-right;
}

.icon {
  @apply flex h-8 w-8 items-center justify-center rounded-full font-semibold;
}

.content {
  @apply flex-1 flex flex-col gap-1;
}

.title {
  @apply text-sm font-semibold;
}

.text {
  @apply text-sm;
}

.infoInfo {
  @apply border-blue-200 bg-blue-50 text-blue-700;
}

.iconInfo {
  @apply bg-blue-100 text-blue-700;
}

.titleInfo {
  @apply text-blue-900;
}

.textInfo {
  @apply text-blue-700;
}

.infoWarning {
  @apply border-yellow-200 bg-yellow-50 text-yellow-700;
}

.iconWarning {
  @apply bg-yellow-100 text-yellow-700;
}

.titleWarning {
  @apply text-yellow-900;
}

.textWarning {
  @apply text-yellow-700;
}

.infoDanger {
  @apply border-red-200 bg-red-50 text-red-700;
}

.iconDanger {
  @apply bg-red-100 text-red-700;
}

.titleDanger {
  @apply text-red-900;
}

.textDanger {
  @apply text-red-700;
}

.infoSuccess {
  @apply border-green-200 bg-green-50 text-green-700;
}

.iconSuccess {
  @apply bg-green-100 text-green-700;
}

.titleSuccess {
  @apply text-green-900;
}

.textSuccess {
  @apply text-green-700;
}
