.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

.card {
  width: 100%;
  max-width: 24rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
